<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <ion-tab title="Metrics" icon-off="ion-arrow-graph-up-right" icon-on="ion-arrow-graph-up-right" href="#/tab/metrics">
    <ion-nav-view name="tab-metrics"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Subscriptions" icon-off="ion-ios-list-outline" icon-on="ion-ios-list-outline" href="#/tab/subscriptions">
    <ion-nav-view name="tab-subscriptions"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Industries" icon-off="ion-ios-cog-outline" icon-on="ion-ios-cog-outline" href="#/tab/industries">
    <ion-nav-view name="tab-industries"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Retail Units" icon-off="ion-map" icon-on="ion-map" href="#/tab/retail-units">
    <ion-nav-view name="tab-retailunits"></ion-nav-view>
  </ion-tab>
</ion-tabs>
